.wrap{
  width: 960px;
  margin: 0 auto;
}

.header {
  border: 2px solid #333939;
}

.h1 {
  margin: 30px 0 30px 30px;
}

.content {
  border: 2px solid red;
  padding-bottom: 150px;
}

.content p {
  color: darkblue;
  font-size: 20px;
  margin: 20px;
}

.button {
  display: block;
  width: 150px;
  margin-left: 20px;
  padding: 10px 0 10px 0 ;
  background-color: blue;
  color: #fff;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  border: 1px solid #000;
}

.button:hover {
  color: blue;
  background-color: lightblue;
}

.footer {
  background-color: pink;
  text-align: center;
  padding: 20px 0 20px 0 ;
}
